# Ignore the dist directory created by setup.py
dist/
build/
py_gmp.egg-info/

# Ignore all .so or .o files in the repository
*.so
*.o

# python venv
venv/
python

# caches
__pycache__/
.ipynb_checkpoints/
.pytest_cache/

# IDE
cmake-build-debug/
.idea/

# sphinx
**/_build/

# scrap work
scratch.txt
